.result,
.terme {
  height: 20px;
  width: calc(var(--cellule-w) * 4.1);
  text-align: right;
  margin: auto;
  background-color: var(--color-1);
  color: var(--color-3);
  box-sizing: content-box;
}
#terme-1 {
  border: 3px solid red;
}
#terme-2 {
  border: 3px solid blue;
}
#area-operator {
  border: 3px solid green;
}
#result {
  border: 3px solid orange;
}
