.result,
.terme {
  height: 20px;
  width: 250px;
  text-align: right;
  margin: auto;
  background-color: var(--color-1);
  color: var(--color-3);
}
#terme-1 {
  border: 3px solid red;
}
#terme-2 {
  border: 3px solid blue;
}
#area-operator {
  border: 3px solid green;
}
#result {
  border: 3px solid orange;
}
